* {
  margin: 0;
  padding: 0;
}
header
{
	width: 100%;
	background-color: black;
	height: 60px;
}
h1
{
	padding-top: 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#letter-c
{
	color: #CD5C5C;
}
#letter-s1
{
	color: #DFFF00;
}
#letter-s2
{
	color: #008000;
}

.flex-container {
    display: flex;
    width: 100%;
    height:100%;

}

.flex-child {
    flex: 1;
    border: 2px solid dodgerblue;
}  

.flex-child:first-child {
   
} 
.flex-child.green {
   flex-basis: 70%;
   
}
.topics
{
	width:100%;
	text-align: center;
	color: white;
	background-color: black;
	border: 1px solid dodgerblue;
	height: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.b-model-pic
{
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 50%;
}
.container
{
	padding-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.box-1
{
	background-color: brown;
	padding: 20px;
	border: solid 5px yellow;
	color: white;
}
.box-2
{
	padding: 20px;
	border: solid 5px yellow;
	margin-left: 10px;
	background-color: brown;
	color: white;
}

.content
{
	background-color: black;
}
.center-paragragh
{
	margin-top: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.center-paragragh1
{
	margin-top: 35px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
textarea
{
	width: 100%;
	height: 500px;
}

 @media screen and (max-width: 768px) {

 	h1
 	{
	padding-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
    display: none;
} 
      
    }

    @media screen and (max-width: 1280px) {

.topics
{
	width:100%;
	text-align: center;
	color: white;
	background-color: black;
	border: 1px solid dodgerblue;
	height: 30px;
	font-family: "Lucida Console", "Courier New", monospace;
}
      
    }

    @media screen and (max-width: 370px) {

.container
{
	padding-top: 40px;
	width: 100%;
	text-align: center;
}
.box-1
{
	background-color: brown;
	padding: 5px;
	border: solid 5px yellow;
	color: white;
}

.box-2
{
	padding: 5px;
	border: solid 5px yellow;
	margin-left: 5px;
	background-color: brown;
	color: white;
}

      

    }