body {
  font-family: "Lato", serif;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  border-bottom:1px solid grey;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-bar
{
  display: block;
}


#leftbox {
                float:left;
                background:black;
                width:25%;
                height: 50px;
              
            }
            #middlebox{
                float:left;
                background:black;
                text-align: center;
                width:50%;
                height: 50px;
              
            }
            #rightbox{
                float:right;
                background:black;
                width:25%;
                height: 50px;
                
            }


.flex-container {
    display: flex;
    width: 100%;
    height:auto;

}

.flex-child {
    flex: 1;
    border: 2px solid black;
}  

.flex-child:first-child {
   
} 
.flex-child.green {
   flex-basis: 70%;
   
   
}
.b-model-pic
{
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
}
.container
{ 
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box-1
{
  background-color: brown;
  padding: 20px;
  border: solid 5px yellow;
  color: white;
}
.box-2
{
  padding: 20px;
  border: solid 5px yellow;
  margin-left: 10px;
  background-color: brown;
  color: white;
}
textarea
{
  width: 90%;
  margin-left: 4%;
  height: 800px;
  background-color: black;
  color: white;
}
.content
{
  background-color: black;
}
.topics
{
  background-color: black;
  border: 1px dodgerblue solid;
  color: white;
  text-align: center;
}
.topics a
{
  color: white;
  text-decoration: none;
}
#centeralize
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}
.shift-right
{
  margin-left: 10%;
}
/* Media query for larger screens */
@media screen and (min-width: 751px)
{
  .menu-bar {
    display: none; /* Display the element on screens with a width of 768px or more */
  }
  .smaller-devices
  {
    display: none;
  }

   
}

@media screen and (max-width: 750px) {
  .flex-container {
    display: none; /* Display the element on screens with a width of 768px or more */
  }
  *
  {
    margin: 0;
  }
  .center-paragragh
  {
      margin-top: 10px;
      margin-bottom: 5px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }

   
}

